{cover_enabled, true}.
{erl_opts, [{parse_transform, lager_transform}]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir,"."}]}}]}.
{edoc_opts,[{todo,true}]}.
{cover_print_enable, true}.
{plugins, [rebar_covertool]}.
{lib_dirs,["deps"]}.

{deps, [
    {'lager', ".*", {
        git, "git://github.com/basho/lager.git", "master"}
    }
]}.
